STARFINITI_MONITORING_ENVIRONMENT=production
STARFINITI_BACKUP_GUEST_EGRESS_COUNTER_FILE=/sys/class/net/GUEST_PATH/statistics/rx_bytes
STARFINITI_BACKUP_PHYSICAL_EGRESS_COUNTER_FILE=/sys/class/net/REPLACE_UPLINK/statistics/tx_bytes
